@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins&family=Roboto:wght@500&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #333333;
}

.hero-sectionBG {
    background: linear-gradient(to bottom, #074f5032, #074f50cd), url(images/donation13.jpg) top center no-repeat;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 200px;
}

.common-width {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 0;
}

input:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hero-section h1 {
    color: #ffffff;
}

.hero-section p {
    color: #ffffff;
    padding: 0 5%;
}

.link-btn {
    color: #ffffff;
    background-color: #ff5959;
    text-decoration: none;
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute;
    left: 42%;
}

.donate-container {
    margin-top: 8%;
}

.donate-container p {
    margin: 2% 15%;
}

.amount-mainBox {
    padding: 5% 15% 2% 15%;
    justify-content: space-between;
    display: flex;
}

.amount-mainBox h2 {
    text-align: center;
    padding: 15% 10%;
}

.amount-items {
    background-color: #e0e0e089;
    display: inline-block;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-right: 5%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#select-item {
    border: 2px solid #ff5959;
    color: #ff5959;
    background-color: #ff595921;
}

.amount-input {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #d8d8d8;
    margin: 0 15% 3% 15%;
    padding: 1%;
}

.amount-input input {
    border: none;
    text-align: center;
    font-size: 16px;
}

.donate-planSection {
    margin: 200px 0;
}

.donate-plan {
    display: flex;
    justify-content: space-between;
}

.donate-plan-items {
    height: 275px;
    width: 275px;
    padding: 40px 15px 0 20px;
    border-radius: 5px;
}

.donate-plan-items p {
    text-align: left;
}

.donate-plan-subtitle {
    padding: 0 15% 2% 15%;
}

.plan-item1 {
    background-color: #edf5f6;
}

.plan-item2 {
    background-color: #ffeeee;
}

.plan-item3 {
    background-color: #fff4d6;
}

.blog_1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10% 0;
}

.blog_2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10% 0;
}

.blog_1_text {
    width: 50%;
    padding: 5% 8% 0 0;
}

.blog_2_text {
    width: 42%;
    padding: 5% 0 0 8%;
}

.blog_1_img {
    width: 400px;
    height: 400px;
    background-image: url(images/donation6.jpg);
    background-size: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.blog_2_img {
    width: 400px;
    height: 400px;
    background-image: url(images/donation10.jpg);
    background-position: center right;
    background-size: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.blog_1_text h1 {
    text-align: left;
    font-size: 40px;
}

.blog_2_text h1 {
    text-align: left;
    font-size: 40px;
}

.blog_1_text p {
    text-align: left;
}

.blog_2_text p {
    text-align: left;
}

#blog1-link-btn {
    position: absolute;
    left: 195px;
}

#blog2-link-btn {
    position: absolute;
    left: 750px;
}

.contact-section {
    margin: 100px 0;
    padding: 0 10%;
}

.contact-section p {
    padding: 0 10% 5% 10%;
}

.email-container {
    background-color: #fff4d6;
}

.email-input {
    padding: 10% 20%;
}

.email-input input {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    background-color: #dadada;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 10%;
    width: 210px;
}

.subscribe-btn {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background: #ff5959;
    color: white;
    padding: 13px 30px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: -6px;
}

footer {
    height: 100px;
    background-color: #070f16;
    padding: 3%;
    margin: 0;
}

footer h1 {
    color: #ff5959;
    font-size: 30PX;
    font-family: 'Dancing Script', cursive;
}

footer p {
    color: white;
}